.controls {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.searchbar {
    width: 100%;
}

.update-button {
    margin-top: 1rem;
    gap: 10px;
}

.update-stock-button {
    width: 300px !important;
    gap: 10px;
}

.cancel-button {
    width: 300px !important;
    gap: 10px;
}

.searchbar .dropdown {
    flex-grow: 1 !important;
}

* {
    box-sizing: border-box;
}¨

.old-item {
    color: grey !important;
}

.updaterSelect {
    margin-top: 10px;
}