.controls {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.searchbar {
    width: 100%;
}

.update-button{
    margin-top: 1rem;
}

.searchbar .dropdown {
    flex-grow: 1 !important;
}

* {
    box-sizing: border-box;
}