.controls {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.searchbar {
    width: 100%;
}

.sorting-controls {
    max-width: 200px;
    margin-bottom: 10px;
}

.sort-item:hover {
    background-color: #F3F5F7 !important;
}

.update-stock-button {
    width: 300px !important;
    gap: 10px;
}

.confirm-button {
    gap: 10px;
}

.cancel-button {
    width: 300px !important;
    gap: 10px;
}

.verify-button {
    margin-top: 1rem;
    gap: 10px;
    font-weight: bold !important;
    color: white !important;
    background-color: #009688 !important;
}

.verify-button:hover {
    background-color: #00897b !important;
}

.verify-button:disabled {
    background-color: #b2dfdb !important;
}

.verify-button[disabled]:hover {
    background-color: #b2dfdb !important;
}

.searchbar .dropdown {
    flex-grow: 1 !important;
}

* {
    box-sizing: border-box;
}¨

.old-item {
    color: grey !important;
}

.updaterSelect {
    margin-top: 10px;
}