.section {
    flex: 1;
}

.remove-button {
    flex: 0;
}

.empty-title {
    height: 5px;
}

.title {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.desc {
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}

.controls {
    align-items: center;
    /* background-color: #FFFFFF;
    padding: 10px; */
}

.controls-button {
    margin-bottom: 5px;
    margin-left: 5px;
}

.button-section {
    display: flex;
    gap: 10px !important;
}

.discard {
    background-color: #6C7787 !important;
    color: white !important;
}

.discard:hover {
    background-color: #4A5768 !important;
}

.confirm-button {
    gap: 10px;
}

.cancel-button {
    gap: 10px;
    width: 114.05px !important;
}

.verify-button {
    gap: 10px;
    font-weight: bold !important;
    color: white !important;
    background-color: #009688 !important;
}

.verify-button:hover {
    background-color: #00897b !important;
}

.input-button-wrapper {
    flex: 1;
    align-items: center;
    /* vertical alignment */
}

.icon-button {
    gap: 10px;
}

.commodity-controls {
    margin-bottom: 100px;
}