.section{
    flex: 1;
}

.remove-button {
    flex: 0;
}

.empty-title {
    height: 5px;
}

.title {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.desc {
    margin-top: 5px;
    font-size: 14px;
    color:gray;
}

.controls {
    align-items:center;
}

.controls-button {
    margin-bottom: 5px;
    margin-left: 5px;
    gap: 10px;
}

.cancel-button{
    background-color: #6C7787 !important;
    color: white !important;
    gap: 10px;
}

.cancel-button:hover{
    background-color: #4A5768 !important;
}

.delete-button {
    background-color: #e57373 !important;
    color: #330202 !important;
    margin-bottom: 5px;
    margin-left: 5px;
    gap: 10px;
    border: 1px solid #891515 !important;
}

.delete-button:hover {
    background-color: #c62828 !important;
}

.input-button-wrapper {
    flex: 1;
    align-items: center; /* vertical alignment */
}

.icon-button {
    gap: 10px;
}

.commodity-controls {
    margin-bottom: 100px;
}

.table {
    margin-bottom: 25px;
}

.remove-button-cell {
    text-align: right;
  }

